@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a) ao Sistema de Gestão de Projetos!</h1>
</div>

<p>Você tem <strong>@Model.ProjetosAtivos</strong> projetos ativos.</p>
<p>Atualmente, <strong>@Model.TarefasAbertas</strong> tarefas abertas e <strong>@Model.TarefasFechadas</strong> tarefas concluídas.</p>


